<h1>Wolf Events</h1>
<h3>NCSU Event Management System</h3>
<%if current_user %>
  Logged in as <%= current_user.name %>
  <%= link_to "Logout",logout_path %>
  <%= link_to "View Events", events_path %>
  <%= link_to "Add Events",new_event_path %>
<%else %>
  <%= link_to "Signup", signup_path%> or
  <%= link_to "Login",login_path %>
<%end %>
