<p style="color: green"><%= notice %></p>
<div style="display: flex; align-items: center;">
  <h1 style="margin-right: 10px;">Events</h1>
  <%= link_to "New event", new_event_path, class: "btn btn-primary" %>
</div>

<div id="events">

  <% @events.each do |event| %>
    <% if current_user.is_admin %>
      <%= render event %>
      <p>
        <%= link_to "Show this event", event %>
      </p>

    <% else %>
      <%event_date = event.event_date %>
      <%current_date = Time.now.utc.to_date  %>
      <%event_time = event.event_start_time.strftime("%H:%M:%S") %>
      <%current_time = Time.current.strftime("%H:%M:%S") %>
      <% if (event.number_of_seats_left > 0) && ((event_date > current_date) || (event_date== current_date && event_time > current_time))%>
        <%= render event %>
        <p>
          <%= link_to "Show this event", event %>
        </p>
      <% else %>
        <div></div>
      <% end %>
    <% end %>
  <% end %>
</div>