<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <% unless @event.event_date < Date.today || (@event.event_date == Date.today && @event.event_start_time <= Time.now)|| @event.number_of_seats_left <= 0 %>
  <%= link_to "Book tickets", new_ticket_path(event_id: @event.id, user_id: current_user.id, room_id: @event.room.id) %>
    <%end %>
  <% unless !current_user.is_admin? %>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
  <%end %>

  <%= link_to "Back to events", events_path %>
  <% unless !current_user.is_admin? %>



  <%= button_to "Destroy this event", @event, method: :delete %>
    <%end %>
</div>
