<div id="<%= dom_id ticket %>">
  <p>
    <strong>Confirmation number:</strong>
    <%= ticket.confirmation_number %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= ticket.room_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= ticket.event_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= ticket.user_id %>
  </p>

  <p>
    <strong>Number of Tickets:</strong>
    <%= ticket.number_of_tickets %>
  </p>

</div>
