<p style="color: green"><%= notice %></p>

<%= render @ticket %>

<div>
  <%= link_to "Edit this ticket", edit_ticket_path(@ticket) %> |
  <%= link_to "Show all my tickets", tickets_path %>
  <%= button_to "Delete this ticket", @ticket, method: :delete %>
</div>
